.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border-radius: 8px;

  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background: var(--button-color);
}

.clear {
  background: transparent;
  color: var(--button-color);
}

.outline {
  background: transparent;
  color: var(--button-color);
  border: 2px solid var(--button-color);
}

.red {
  background: var(--red-color);
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.S {
  padding: 4px 6px;
  border-radius: 6px;

  font-weight: 400;
  font-size: 12px;
}

.M {
  padding: 8px 10px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 20px;
}

.L {
  padding: 12px 14px;
  border-radius: 10px;

  font-weight: 600;
  font-size: 26px;
}

.green {
  border-color: #3aaa38;
  color: #3aaa38;
}

.grey {
  border-color: #969494;
  color: #969494;
}
