body.light {
  --announcement-color: #692fff;
  --page-background-color: #f5f8ff;
  --link-color: #ffc846;
  --main-text-color: #fff;
  --header-color: #0dd0e7;
  --device-card-color: #56d7ff;
  --button-color: #c146fe;
  --red-color: #a92b2b;
}

body.dark {
  --announcement-color: #7945ff;
  --page-background-color: #14212a;
  --link-color: #ffd675;
  --main-text-color: #fff;
  --header-color: #09545c;
  --device-card-color: #1c4957;
  --button-color: #d173ff;
  --red-color: #c53c3c;
}
