@import "./vars";
@import "./reset";
@import "./base";

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 14px;
}

::-webkit-scrollbar-track {
  background: var(--device-card-color);
}

::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 14px;
}