.input-container {
  display: flex;
  flex-direction: column-reverse;

  label {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px;
  }

  input {
    border-radius: 4px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);

    font-size: 16px;
    color: var(--main-text-color);

    &::placeholder {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.clear input {
  background: #0000001b;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
}

.disable input {
  background: none;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
}
