.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 10px;
  text-align: left;

  &:hover {
    background: rgba(0, 0, 0, 0.15);
  }

  &__icon {
    width: 18px;
    height: 18px;
  }
}
