.device {
  max-width: 278px;
  min-height: 373px;
  border-radius: 4px;
  padding: 5px;

  background: var(--device-card-color);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

  &__image {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 6px;
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    color: var(--link-color);

    margin-bottom: 6px;
  }

  &__btn {
    width: 100%;
  }
}
