.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 105px;
    right: 10px;
    z-index: 20;

    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.35);
    background: var(--header-color);
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;

    padding: 4px;
    border-radius: 4px;
    min-width: 70px;

    transition: background 0.2s ease-in-out;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  &__cart-items {
    font-size: 12px;
    background: var(--button-color);
    border-radius: 43%;
    padding: 2px 3px;
    min-width: 15px;

    position: absolute;
    top: 1px;
    right: 13px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dropdown-mene {
    position: absolute;
    top: 76px;
    right: 0px;
    z-index: 20;

    @media (max-width: 768px) {
      top: auto;
      bottom: 0px;
      right: 100px;
    }
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
