.favorites-page {
  padding-top: 20px;
  padding-bottom: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__add-to-favorite-list {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}
