.add-to-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background: var(--device-card-color);
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.clear {
  display: block;
}
