.drop-down-menu {
  display: flex;
  align-items: start;
  flex-direction: column;
  background: var(--header-color);
  border-radius: 14px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  width: 120px;
}
