.device {
  height: 157px;
  padding: 5px;
  border-radius: 4px;
  background: var(--device-card-color);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 10px;
  position: relative;

  &__left-wrap {
    display: inline-block;

    img {
      width: 147px;
      border-radius: 4px;
      background: #fff;
      object-fit: contain;
      height: 100%;
    }
  }

  &__right-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__categories {
    display: flex;
    gap: 20px;
    font-size: 14px;
  }

  &__name {
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__name,
  &__price,
  &__total-price {
    font-weight: 700;
    font-size: 20px;
  }

  &__btn-change-count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    padding: 3px 5px;
    background: var(--button-color);

    div {
      width: 30px;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
    }

    button {
      font-weight: 700;
      font-size: 20px;
      width: 30px;
    }
  }

  &__icons {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__trash {
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}
